html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: center;
}

form{
	width: 950px;
	padding: 20px;
	min-height: 150px;
	height: auto;
}

.PrimeraAparicion{
	margin-top: 150px;
	background-color:white;
}
/*
div .putisimo{
    background-color: red;
}
*/

.MostrarTitulos{
    background-color: white;
}

h3{

    border-bottom-style: solid;
	border-bottom-color: #ac0000;
	border-bottom-width: 2px;
	text-align: right;
	padding: 20px;

}

#tablaNovedades{
	padding: 20px;

}

#tablaNovedades a{
	text-decoration: none;
}