html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: center;
}

form{
	width: 950px;
	padding: 20px;
	min-height: 150px;
	height: auto;
}

.PrimeraAparicion{
	margin-top: 130px;
    background-color:white;
	
}

.MostrarTitulos{
    background-color: white;
}
